<% content_for :title do %>
  Criar novo Municipe - AO30
<% end %>


<div class="flex items-center">
  <div class="flex-1">
    <h1 class="text-3xl mt-6">
      Novo Municipe </h1>
  </div>

</div>

<section class="text-gray-600 body-font">
  <div class="container py-10 px-2 mx-auto">





    </div>

    <div class="text-center py-4  mx-auto">
      123456
    </div>

</section>
