<head>
  <nav class="navbar  mb-2 shadow-lg bg-primary h-20 text-neutral-content">
    <div class="flex-1 max-w-4xl mx-auto py-6">
      <div class="flex-none">
        <a class="text-3xl btn btn-ghost font-bold" href="/">Project OM30</a>
      </div>
    </div>
    <div class="flex-none mx-auto">
      <div class="menu menu-horizontal">
        <%= link_to "Home",  class: 'btn btn-primary' %>
      </div>
    </div>
  </nav>
</head>